<div class="panel panel-default">
<div class="panel-heading">
    {{header}}
</div>
<div class="panel-body">
         <table [id]="tableId" class="table table-striped
                                table-bordered table-hover
                                table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th *ngFor="let col of columns">
                        {{ col.data | translate }}
                    </th>
                </tr>
            </thead>
        </table>
</div>
</div>