<div class="panel panel-primary noborder">
    <div class="panel-heading">
        {{ 'BorrowedMedia' | translate }}
    </div>
    <div class="panel-body">
        <table id="borrow" class="table table-striped
                                table-bordered table-hover
                                table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{{ 'Id' }}</th>
                    <th>{{ 'ReaderID' | translate }}</th>
                    <th>{{ 'ReaderName' | translate }}</th>
                    <th>{{ 'MediumTitle' | translate }}</th>
                    <th>{{ 'BorrowDate' | translate }}</th>
                    <th>{{ 'Overdue' | translate }}</th>
                </tr>
            </thead>
        </table>
    </div>
</div>