<div class="panel panel-primary noborder">
    <div class="panel-heading">
        {{ 'UserControl' | translate }}
    </div>
    <div class="panel-body">
        <table id="user" class="table table-striped
                                table-bordered table-hover
                                table-responsive" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>{{ 'ID' }}</th>
                    <th>{{ 'AccountName' | translate }}</th>
                    <th>{{ 'FirstName' | translate }}</th>
                    <th>{{ 'LastName' | translate }}</th>
                    <th>{{ 'Password' | translate }}</th>
                    <th>{{ 'IsActive' | translate }}</th>
                    <th>{{ 'Group' | translate }}</th>
                </tr>
            </thead>
        </table>
    </div>
    <div>
        <div *ngIf="userAcl.length > 0 && isAdmin">
            <bib-acl [acl]="userAcl" [header]="aclTypeUser"></bib-acl>
        </div>
        <div  *ngIf="groupAcl.length > 0 && isAdmin">
            <bib-acl [acl]="groupAcl" [header]="aclTypeGroup"></bib-acl>
        </div>
    </div>
</div>
<bib-dynamic [dynamicComponent]="dynamicComponent" (dynamicEvent)="onDynamicEvent($event)"></bib-dynamic>