ul {
  list-style-type: none;
  padding-left: .5em;
  margin: .5em;
}

li {
    padding-left: 1em;
    background-color: black;
    color: yellow;
    border: 1px;
    border-color: green;
    border-style: dashed;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; 
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

img {
    border-radius: 5px 5px 0 0;
    width: 160px;
    height: 200px;
}

.panel {
    width: 50%;
}