<!--<div class="panel panel-default noborder">-->
  <!--<div class="panel-heading">Details</div>-->
  <!--<div class="panel-body">-->
        <div class="card">
          <div class="row">
            <div class="col col-lg-5 col-md-5 col-sm-5">
              <img src="{{medium.Picture}}" alt="MediaPicture">
            </div>
            <div class="col col-lg-7 col-md-7 col-sm-7">
              <h4><b> {{medium.Title}} </b></h4> 
              <div><b>{{ 'Author' | translate }}</b>: {{medium.Author}}</div>
              <div><b>{{ 'Year' | translate }}</b>: {{medium.Year}}</div> 
              <div><b>ISBN</b>: {{medium.ISBN}}</div>
              <div><b>{{ 'Description' | translate}}</b>: {{medium.Description}}</div>
            </div>
          </div>
      </div>
  <!--</div>-->
<!--</div>-->